.input-file {
 height: 2rem;
 border: var(--border-primary) 3px solid;
 padding: .5rem;
}

.input-file:hover {
 cursor: url("xlsx_icon.png"), pointer;
 border: var(--border-active) 3px solid;
}

.input-file::-webkit-file-upload-button {
 cursor: pointer;
}