.button {
 background: var(--button-primary);
 color: var(--color-primary);
 font-weight: 400;
 height: 2rem;
 cursor: pointer;
 transition: transform 200ms ease-in-out;
 border: 1px solid var(--border-primary);
 border-radius: .2rem;
 padding: 0 .4rem;
 box-sizing: border-box;
}

.button_icon-svg {
/* width: 1.75rem;
 height: 1.75rem;*/
 width: 2rem;
 height: 2rem;
 border: none;
}

.button:hover {
 background: var(--button-hover);
}

.button:active {
 /*transform: translateY(-1px);*/
 background: var(--bg-light-theme);
 border: 1px solid var(--border-primary);
 outline: none;
}

.button:focus {
 outline: none;
}

.button:disabled {
 opacity: 0.5;
 pointer-events: none;
}
